/* Background */

body {
	background-image: url("images/Csback.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Twitch */

.Twitch{
    position: absolute;
    top: 250px;
	right: 635px;
}

.TwitchChat{
	position: absolute;
	top: 250px;
	right: 335px;
}


/* SideNav */

.LiquidLogo:hover { -moz-box-shadow: 0 0 20px #0044FE; 
	-webkit-box-shadow: 0 0 20px #0044FE; 
	box-shadow: 0 0 20px #0044FE; 
}

.NaviLogo:hover { -moz-box-shadow: 0 0 20px #BFBB5E; 
	-webkit-box-shadow: 0 0 20px #BFBB5E; 
	box-shadow: 0 0 20px #BFBB5E; 
}

.AstralisLogo:hover { -moz-box-shadow: 0 0 20px #A1474A; 
	-webkit-box-shadow: 0 0 20px #A1474A; 
	box-shadow: 0 0 20px #A1474A; 
}

.SKGamingLogo:hover { -moz-box-shadow: 0 0 20px #FEFEFE; 
	-webkit-box-shadow: 0 0 20px #FEFEFE; 
	box-shadow: 0 0 20px #FEFEFE; 
}

.Cloud9Logo:hover { -moz-box-shadow: 0 0 20px #009CD5; 
	-webkit-box-shadow: 0 0 20px #009CD5; 
	box-shadow: 0 0 20px #009CD5; 
}

.FazeLogo:hover { -moz-box-shadow: 0 0 20px #FEC730; 
	-webkit-box-shadow: 0 0 20px #FEC730; 
	box-shadow: 0 0 20px #FEC730; 
}

.DignitasLogo:hover { -moz-box-shadow: 0 0 20px #C6C6C6; 
	-webkit-box-shadow: 0 0 20px #C6C6C6; 
	box-shadow: 0 0 20px #C6C6C6; 
}

.VirtusProLogo:hover { -moz-box-shadow: 0 0 20px #FD8A3E; 
	-webkit-box-shadow: 0 0 20px #FD8A3E; 
	box-shadow: 0 0 20px #FD8A3E; 
}

.ImmortalsLogo:hover { -moz-box-shadow: 0 0 20px #63C6C2; 
	-webkit-box-shadow: 0 0 20px #63C6C2; 
	box-shadow: 0 0 20px #63C6C2; 
}

.OpticGamingLogo:hover { -moz-box-shadow: 0 0 20px #42CE7A; 
	-webkit-box-shadow: 0 0 20px #42CE7A; 
	box-shadow: 0 0 20px #42CE7A; 
}

.FnaticLogo:hover { -moz-box-shadow: 0 0 20px #FEBA00; 
	-webkit-box-shadow: 0 0 20px #FEBA00; 
	box-shadow: 0 0 20px #FEBA00; 
}

.EnvyusLogo:hover { -moz-box-shadow: 0 0 20px #0078E1; 
	-webkit-box-shadow: 0 0 20px #0078E1; 
	box-shadow: 0 0 20px #0078E1; 
}

.G2Logo:hover { -moz-box-shadow: 0 0 20px #717171; 
	-webkit-box-shadow: 0 0 20px #717171; 
	box-shadow: 0 0 20px #717171; 
}

.MouseportsLogo:hover { -moz-box-shadow: 0 0 20px #D50000; 
	-webkit-box-shadow: 0 0 20px #D50000; 
	box-shadow: 0 0 20px #D50000; 
}

.GodsentLogo:hover { -moz-box-shadow: 0 0 20px #DEB900; 
	-webkit-box-shadow: 0 0 20px #DEB900; 
	box-shadow: 0 0 20px #DEB900; 
}

.RenegadesLogo:hover { -moz-box-shadow: 0 0 20px #B36C00; 
	-webkit-box-shadow: 0 0 20px #B36C00; 
	box-shadow: 0 0 20px #B36C00; 
}

.HeroicLogo:hover { -moz-box-shadow: 0 0 20px #B1DE00; 
	-webkit-box-shadow: 0 0 20px #B1DE00; 
	box-shadow: 0 0 20px #B1DE00; 
}
.HellraisersLogo:hover { -moz-box-shadow: 0 0 20px #FE0000; 
	-webkit-box-shadow: 0 0 20px #FE0000; 
	box-shadow: 0 0 20px #FE0000; 
}

.EpsilonLogo:hover { -moz-box-shadow: 0 0 20px #7DBCD7; 
	-webkit-box-shadow: 0 0 20px #7DBCD7; 
	box-shadow: 0 0 20px #7DBCD7; 
}

.TylooLogo:hover { -moz-box-shadow: 0 0 20px #D14D4D; 
	-webkit-box-shadow: 0 0 20px #D14D4D; 
	box-shadow: 0 0 20px #D14D4D; 
}

.GambitLogo:hover { -moz-box-shadow: 0 0 20px #C62323; 
	-webkit-box-shadow: 0 0 20px #C62323; 
	box-shadow: 0 0 20px #C62323; 
}

.KinguinLogo:hover { -moz-box-shadow: 0 0 20px #CE9700; 
	-webkit-box-shadow: 0 0 20px #CE9700; 
	box-shadow: 0 0 20px #CE9700; 
}

.PlatinumLogo:hover { -moz-box-shadow: 0 0 20px #FE185D; 
	-webkit-box-shadow: 0 0 20px #FE185D; 
	box-shadow: 0 0 20px #FE185D; 
}

.SpaceSoldiersLogo:hover { -moz-box-shadow: 0 0 20px #F6FE00; 
	-webkit-box-shadow: 0 0 20px #F6FE00; 
	box-shadow: 0 0 20px #F6FE00; 
}

.AlternateLogo:hover { -moz-box-shadow: 0 0 20px #A60000; 
	-webkit-box-shadow: 0 0 20px #A60000; 
	box-shadow: 0 0 20px #A60000; 
}

.SolomidLogo:hover { -moz-box-shadow: 0 0 20px #737373; 
	-webkit-box-shadow: 0 0 20px #737373; 
	box-shadow: 0 0 20px #737373; 
}

.MKLogo:hover { -moz-box-shadow: 0 0 20px #378025; 
	-webkit-box-shadow: 0 0 20px #378025; 
	box-shadow: 0 0 20px #378025; 
}

.NRGLogo:hover { -moz-box-shadow: 0 0 20px #E95293; 
	-webkit-box-shadow: 0 0 20px #E95293; 
	box-shadow: 0 0 20px #E95293; 
}

.NIPLogo:hover { -moz-box-shadow: 0 0 20px #A68A50; 
	-webkit-box-shadow: 0 0 20px #A68A50; 
	box-shadow: 0 0 20px #A68A50; 
}

.LuminosityLogo:hover { -moz-box-shadow: 0 0 20px #3B9DC7; 
	-webkit-box-shadow: 0 0 20px #3B9DC7; 
	box-shadow: 0 0 20px #3B9DC7; 
}

.CyberZenLogo:hover { -moz-box-shadow: 0 0 20px #A62020; 
	-webkit-box-shadow: 0 0 20px #A62020; 
	box-shadow: 0 0 20px #A62020; 
}

.TeamXLogo:hover { -moz-box-shadow: 0 0 20px #FEFEFE; 
	-webkit-box-shadow: 0 0 20px #FEFEFE; 
	box-shadow: 0 0 20px #FEFEFE; 
}

.EchoFoxLogo:hover { -moz-box-shadow: 0 0 20px #FE7F00; 
	-webkit-box-shadow: 0 0 20px #FE7F00; 
	box-shadow: 0 0 20px #FE7F00; 
}

.CLGLogo:hover { -moz-box-shadow: 0 0 20px #0092DB; 
	-webkit-box-shadow: 0 0 20px #0092DB; 
	box-shadow: 0 0 20px #0092DB; 
}

.AGGLogo:hover { -moz-box-shadow: 0 0 20px #D11717; 
	-webkit-box-shadow: 0 0 20px #D11717; 
	box-shadow: 0 0 20px #D11717; 
}

.SplyceLogo:hover { -moz-box-shadow: 0 0 20px #CBA422; 
	-webkit-box-shadow: 0 0 20px #CBA422; 
	box-shadow: 0 0 20px #CBA422; 
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
padding-top: 25px;
padding-bottom: 25px;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:scroll;
}

.main-menu {
background:black;
position:fixed;
top:0;
bottom:0;
left:0;
width:5px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#FEFEFE;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;

}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* MenuBar */


.navigation {
	position: static;
    left: 5px;
    top: 5em;
    width: 100%;
	background-color: black;
	text-align:center;
}

.navigation-container {
	position: relative;
    display: inline-block;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation div {
    display: inline-block;
}

.navigation-list li {
	display: inline;
}

.navigation-home a{
	opacity: 1;
	filter: alpha(opacity=100);
}

.navigation-home a:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.home-image {
	content: url("images/home-button.png");
}

.navigation-popup-items {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hide {
	display: none;
}

.navigation-popup-items a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.navigation-item-popup-title, .navigation-item-title {
    background-color: black;
    color: white;
    padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 16px;
	font-weight: bold;
    border: none;
    cursor: pointer;
}

.navigation-dropdown {
			text-align:left;
}

.Menuhover:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
}

.Menuhover:hover, .navigation-item-title:hover, .navigation-popup-items a:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
} 

.navigation-dropdown {
			text-align:left;
}

/* Banner */

.banner {
	width: 100%;
	background: rgb(75,117,150);
	background: -moz-linear-gradient(top,  rgba(75,117,150,1) 0%, rgba(0,11,12,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(75,117,150,1) 0%,rgba(0,11,12,1) 100%);
	background: linear-gradient(to bottom,  rgba(75,117,150,1) 0%,rgba(0,11,12,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b7596', endColorstr='#000b0c',GradientType=0 );
	min-height: 10em;
	line-height: 10em;
	text-align: center;
	vertical-align: middle;
}

p {
	padding-top: 10em;
	padding-left: 40em;
	padding-right: 40em;
}

.banner span  { 
color: #000000; 
font-family: 'Helvetica Neue', sans-serif; 
font-size: 50px; 
font-weight: bold; 
letter-spacing: -1px; 
display: inline-block;
vertical-align: middle;
line-height: normal;   
text-align: center; 
}

/* Team Headers */

.LiquidHeader {
	width: 100%;
	background-color: #2C5F82;
	min-height: 10em;
	line-height: 10em;
	text-align: center;
	vertical-align: middle;
}

p {
	padding-top: 10em;
	padding-left: 40em;
	padding-right: 40em;
}

.LiquidHeader img  { 
width:620px;
height:150px; 
display: inline-block;
vertical-align: middle;
line-height: normal;   
text-align: center; 
}
