
body {
	background-image: url("images/Csback.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.banner {
	width: 100%;
	background-color: #640A16;
	min-height: 5em;
	line-height: 5em;
	text-align: center;
	vertical-align: middle;
}

p {
	padding-top: 5em;
	padding-left: 40em;
	padding-right: 40em;
}

.banner span  { 
color: #000000; 
font-family: 'Helvetica Neue', sans-serif; 
font-size: 50px; 
font-weight: bold; 
letter-spacing: -1px; 
  display: inline-block;
  vertical-align: middle;
  line-height: normal;   
text-align: center; }

/* Twitch */

.Twitch{
    position: absolute;
    top: 250px;
	right: 635px;
}

.TwitchChat{
	position: absolute;
	top: 250px;
	right: 335px;
}

/* SideNav */

.LiquidLogo:hover { -moz-box-shadow: 0 0 20px #0044FE; 
	-webkit-box-shadow: 0 0 20px #0044FE; 
	box-shadow: 0 0 20px #0044FE; 
}

.NaviLogo:hover { -moz-box-shadow: 0 0 20px #BFBB5E; 
	-webkit-box-shadow: 0 0 20px #BFBB5E; 
	box-shadow: 0 0 20px #BFBB5E; 
}

.AstralisLogo:hover { -moz-box-shadow: 0 0 20px #A1474A; 
	-webkit-box-shadow: 0 0 20px #A1474A; 
	box-shadow: 0 0 20px #A1474A; 
}

.SKGamingLogo:hover { -moz-box-shadow: 0 0 20px #FEFEFE; 
	-webkit-box-shadow: 0 0 20px #FEFEFE; 
	box-shadow: 0 0 20px #FEFEFE; 
}

.Cloud9Logo:hover { -moz-box-shadow: 0 0 20px #009CD5; 
	-webkit-box-shadow: 0 0 20px #009CD5; 
	box-shadow: 0 0 20px #009CD5; 
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:black;
position:fixed;
top:0px;
bottom:0;
height:100%;
left:0;
width:5px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#FEFEFE;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
 font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* MenuBar */


.navigation {
	position: static;
    left: 5px;
    top: 5em;
    width: 100%;
	background-color: black;
	text-align:center;
}

.navigation-container {
	position: relative;
    display: inline-block;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation div {
    display: inline-block;
}

.navigation-list li {
	display: inline;
}

.navigation-popup-items {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hide {
	display: none;
}

.navigation-popup-items a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.navigation-item-popup-title, .navigation-item-title {
    background-color: black;
    color: white;
    padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 16px;
	font-weight: bold;
    border: none;
    cursor: pointer;
}

.navigation-dropdown {
			text-align:left;
}

.Menuhover:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
}

.Menuhover:hover, .navigation-item-title:hover, .navigation-popup-items a:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
} 
