/* Background */

body {
	background-image: url("images/blackliquid.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 12px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    height: 50px;
    text-align: center;
    padding: 5px;
}

th {
	background-color: #C4C4C4;
}

td {
	background-color: #E2E2E2;
}

td:hover{
	background-color: #F8F8F8;
}


/* Links */

	a:link { 
		COLOR: #FEFEFE; 
		TEXT-DECORATION: none; 
}

	a:visited { 
		COLOR: #FEFEFE; 
		TEXT-DECORATION: none;
		-webkit-text-stroke: 1px #C4C4C4;		
}

	a:active { 
		COLOR: #FEFEFE; 
		TEXT-DECORATION: none 
}

	a:hover { 
		COLOR: #FEFEFE; 
		TEXT-DECORATION: none; 
}

/* Twitch */

.Twitch{
    position: absolute;
}

.TwitchChat{
	position: absolute;
	top: 250px;
	right: 335px;
}


/* SideNav */

.LiquidLogo:hover { -moz-box-shadow: 0 0 20px #0044FE; 
	-webkit-box-shadow: 0 0 20px #0044FE; 
	box-shadow: 0 0 20px #0044FE; 
}

.NaviLogo:hover { -moz-box-shadow: 0 0 20px #BFBB5E; 
	-webkit-box-shadow: 0 0 20px #BFBB5E; 
	box-shadow: 0 0 20px #BFBB5E; 
}

.AstralisLogo:hover { -moz-box-shadow: 0 0 20px #A1474A; 
	-webkit-box-shadow: 0 0 20px #A1474A; 
	box-shadow: 0 0 20px #A1474A; 
}

.SKGamingLogo:hover { -moz-box-shadow: 0 0 20px #FEFEFE; 
	-webkit-box-shadow: 0 0 20px #FEFEFE; 
	box-shadow: 0 0 20px #FEFEFE; 
}

.Cloud9Logo:hover { -moz-box-shadow: 0 0 20px #009CD5; 
	-webkit-box-shadow: 0 0 20px #009CD5; 
	box-shadow: 0 0 20px #009CD5; 
}

.FazeLogo:hover { -moz-box-shadow: 0 0 20px #FEC730; 
	-webkit-box-shadow: 0 0 20px #FEC730; 
	box-shadow: 0 0 20px #FEC730; 
}

.DignitasLogo:hover { -moz-box-shadow: 0 0 20px #C6C6C6; 
	-webkit-box-shadow: 0 0 20px #C6C6C6; 
	box-shadow: 0 0 20px #C6C6C6; 
}

.VirtusProLogo:hover { -moz-box-shadow: 0 0 20px #FD8A3E; 
	-webkit-box-shadow: 0 0 20px #FD8A3E; 
	box-shadow: 0 0 20px #FD8A3E; 
}

.ImmortalsLogo:hover { -moz-box-shadow: 0 0 20px #63C6C2; 
	-webkit-box-shadow: 0 0 20px #63C6C2; 
	box-shadow: 0 0 20px #63C6C2; 
}

.OpticGamingLogo:hover { -moz-box-shadow: 0 0 20px #42CE7A; 
	-webkit-box-shadow: 0 0 20px #42CE7A; 
	box-shadow: 0 0 20px #42CE7A; 
}

.FnaticLogo:hover { -moz-box-shadow: 0 0 20px #FEBA00; 
	-webkit-box-shadow: 0 0 20px #FEBA00; 
	box-shadow: 0 0 20px #FEBA00; 
}

.EnvyusLogo:hover { -moz-box-shadow: 0 0 20px #0078E1; 
	-webkit-box-shadow: 0 0 20px #0078E1; 
	box-shadow: 0 0 20px #0078E1; 
}

.G2Logo:hover { -moz-box-shadow: 0 0 20px #717171; 
	-webkit-box-shadow: 0 0 20px #717171; 
	box-shadow: 0 0 20px #717171; 
}

.MouseportsLogo:hover { -moz-box-shadow: 0 0 20px #D50000; 
	-webkit-box-shadow: 0 0 20px #D50000; 
	box-shadow: 0 0 20px #D50000; 
}

.GodsentLogo:hover { -moz-box-shadow: 0 0 20px #DEB900; 
	-webkit-box-shadow: 0 0 20px #DEB900; 
	box-shadow: 0 0 20px #DEB900; 
}

.RenegadesLogo:hover { -moz-box-shadow: 0 0 20px #B36C00; 
	-webkit-box-shadow: 0 0 20px #B36C00; 
	box-shadow: 0 0 20px #B36C00; 
}

.HeroicLogo:hover { -moz-box-shadow: 0 0 20px #B1DE00; 
	-webkit-box-shadow: 0 0 20px #B1DE00; 
	box-shadow: 0 0 20px #B1DE00; 
}
.HellraisersLogo:hover { -moz-box-shadow: 0 0 20px #FE0000; 
	-webkit-box-shadow: 0 0 20px #FE0000; 
	box-shadow: 0 0 20px #FE0000; 
}

.EpsilonLogo:hover { -moz-box-shadow: 0 0 20px #7DBCD7; 
	-webkit-box-shadow: 0 0 20px #7DBCD7; 
	box-shadow: 0 0 20px #7DBCD7; 
}

.TylooLogo:hover { -moz-box-shadow: 0 0 20px #D14D4D; 
	-webkit-box-shadow: 0 0 20px #D14D4D; 
	box-shadow: 0 0 20px #D14D4D; 
}

.GambitLogo:hover { -moz-box-shadow: 0 0 20px #C62323; 
	-webkit-box-shadow: 0 0 20px #C62323; 
	box-shadow: 0 0 20px #C62323; 
}

.KinguinLogo:hover { -moz-box-shadow: 0 0 20px #CE9700; 
	-webkit-box-shadow: 0 0 20px #CE9700; 
	box-shadow: 0 0 20px #CE9700; 
}

.PlatinumLogo:hover { -moz-box-shadow: 0 0 20px #FE185D; 
	-webkit-box-shadow: 0 0 20px #FE185D; 
	box-shadow: 0 0 20px #FE185D; 
}

.SpaceSoldiersLogo:hover { -moz-box-shadow: 0 0 20px #F6FE00; 
	-webkit-box-shadow: 0 0 20px #F6FE00; 
	box-shadow: 0 0 20px #F6FE00; 
}

.AlternateLogo:hover { -moz-box-shadow: 0 0 20px #A60000; 
	-webkit-box-shadow: 0 0 20px #A60000; 
	box-shadow: 0 0 20px #A60000; 
}

.SolomidLogo:hover { -moz-box-shadow: 0 0 20px #737373; 
	-webkit-box-shadow: 0 0 20px #737373; 
	box-shadow: 0 0 20px #737373; 
}

.MKLogo:hover { -moz-box-shadow: 0 0 20px #378025; 
	-webkit-box-shadow: 0 0 20px #378025; 
	box-shadow: 0 0 20px #378025; 
}

.NRGLogo:hover { -moz-box-shadow: 0 0 20px #E95293; 
	-webkit-box-shadow: 0 0 20px #E95293; 
	box-shadow: 0 0 20px #E95293; 
}

.NIPLogo:hover { -moz-box-shadow: 0 0 20px #A68A50; 
	-webkit-box-shadow: 0 0 20px #A68A50; 
	box-shadow: 0 0 20px #A68A50; 
}

.LuminosityLogo:hover { -moz-box-shadow: 0 0 20px #3B9DC7; 
	-webkit-box-shadow: 0 0 20px #3B9DC7; 
	box-shadow: 0 0 20px #3B9DC7; 
}

.CyberZenLogo:hover { -moz-box-shadow: 0 0 20px #A62020; 
	-webkit-box-shadow: 0 0 20px #A62020; 
	box-shadow: 0 0 20px #A62020; 
}

.TeamXLogo:hover { -moz-box-shadow: 0 0 20px #FEFEFE; 
	-webkit-box-shadow: 0 0 20px #FEFEFE; 
	box-shadow: 0 0 20px #FEFEFE; 
}

.EchoFoxLogo:hover { -moz-box-shadow: 0 0 20px #FE7F00; 
	-webkit-box-shadow: 0 0 20px #FE7F00; 
	box-shadow: 0 0 20px #FE7F00; 
}

.CLGLogo:hover { -moz-box-shadow: 0 0 20px #0092DB; 
	-webkit-box-shadow: 0 0 20px #0092DB; 
	box-shadow: 0 0 20px #0092DB; 
}

.AGGLogo:hover { -moz-box-shadow: 0 0 20px #D11717; 
	-webkit-box-shadow: 0 0 20px #D11717; 
	box-shadow: 0 0 20px #D11717; 
}

.SplyceLogo:hover { -moz-box-shadow: 0 0 20px #CBA422; 
	-webkit-box-shadow: 0 0 20px #CBA422; 
	box-shadow: 0 0 20px #CBA422; 
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
padding-top: 25px;
padding-bottom: 25px;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow: auto;
overflow-x: hidden;
}

.main-menu {
background:black;
position:fixed;
top:0;
bottom:0;
left:0;
width:5px;
overflow-y:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#010101;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

.main-menu::-webkit-scrollbar {
    width: 6px;
}
 
.main-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.main-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #4b7596; 
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;

}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* MenuBar */


.navigation {
	position: static;
    left: 5px;
    top: 5em;
    width: 100%;
	background-color: black;
	text-align:center;
	z-index: 2;
}

.navigation-container {
	position: relative;
    display: inline-block;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation div {
    display: inline-block;
}

.navigation-list li {
	display: inline;
}

.navigation-home a{
	opacity: 1;
	filter: alpha(opacity=100);
}

.navigation-home a:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.navigation-popup-items {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hide {
	display: none;
}

.navigation-popup-items a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.navigation-item-popup-title, .navigation-item-title {
    background-color: black;
    color: white;
    padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 16px;
	font-weight: bold;
    border: none;
    cursor: pointer;
}

.navigation-dropdown {
			text-align:left;
}

.Menuhover:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
}

.Menuhover:hover, .navigation-item-title:hover, .navigation-popup-items a:hover { 
	-moz-box-shadow: 0 0 20px #2C5F82; 
	-webkit-box-shadow: 0 0 20px #2C5F82; 
	box-shadow: 0 0 20px #2C5F82; 
} 

.navigation-dropdown {
			text-align:left;
}

/* Banner */

.banner {
	width: 100%;
	position: relative;
	min-height: 10em;
	line-height: 10em;
	text-align: center;
	vertical-align: middle;
	background: rgb(125,126,125);
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

.banner p {
	padding-top: 10em;
	padding-left: 40em;
	padding-right: 40em;
}

.banner span  { 
	color: #000000; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 50px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	display: inline-block;
	vertical-align: middle;
	line-height: normal;   
	text-align: center; 
	color: white;
	-webkit-text-stroke: 1px #c4c4c4;
}

/* Matches */

.Matches-Position {
	position:absolute;
	top:262.5px;
	left:1400px;
}

.Matches-Box {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FEFEFE;
	height: 1000px;
	width: 200px;
	display: inline-block;
	background-color: #FEFEFE;
	-webkit-box-shadow: -4px 4px 4px 3px #232323;
	-moz-box-shadow: -4px 4px 4px 3px #232323;
	box-shadow: -4px 4px 4px 3px #232323;
}

/* Profiles */

.ProfileMenu {
	position: absolute;
	background: rgb(125,126,125);
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	display: inline-block;
	height: 30px;
	width: 956px;
	border-bottom: 2px solid #C4C4C4;
	z-index: 1004;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.Statshov:hover { 
	-webkit-text-stroke: 0.5px #c4c4c4;
}

.Stats {
	position: absolute;
	z-index: 1004;
}

.StatsText {
	font-weight: bold;
	color: white !important;
	font-size: 12px;
}

.ProfileBanner {
	border-bottom: 2px solid #FEFEFE;
	height: 150px;
	width: 955px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.ProfileBanner-Position {
	position:absolute;
	top:52px;
	left:0px;
	background: url("images/liquidprofilebanner.jpg");
	background-size: 955px 150px;
    background-repeat: fixed;
}

.Profile-Header {
	display:inline-block;
	background: rgb(125,126,125);
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	position:absolute;
	text-align: center;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.Profile-Header span  {  
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 42px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: normal;    
	color: white;
	-webkit-text-stroke: 1px #c4c4c4;
}

.Profile-Text {
	position:absolute;
	top: 250px;
	color:black;
	font-family: serif;
	font-size:16px;
	letter-spacing: 0px;
	font-color:black;
	left:10px;
	padding-left: 250px;
	padding-right: 25px;
}

.Seperator {
	position: absolute;
	top: 540px;
	height: 1px;
	width: 920px;
	padding-left: 10px;
	padding-right: 10px;
	background: #717171;
	border-bottom: 1px solid #C4C4C4;
}

.black_overlay {
  	display: none;
  	position: fixed;
  	top: 0%;
  	left: 0%;
  	width: 100%;
  	height: 100%;
  	background-color: black;
  	z-index: 1001;
  	-moz-opacity: 0.95;
  	opacity: .6;
  	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 960px;
	height: 1600px;
	padding: 16px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	border: 2px solid #848484;
	background-color: #FAFAFA;
	z-index: 1002;
	overflow: auto;
}

.Profile-Footer {
	display:inline-block;
	background: rgb(125,126,125);
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	position:absolute;
	text-align: center;
	border-top: 1px solid #C4C4C4;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	-webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75);
}

.PlayerInfo {
	display: inline-block;
	position: absolute;
	top: 175px;
	left: 25px;
	width: 200px;
}

.MouseInfo {
	display:inline-block;
	background: url("images/carbon.jpg");
	position:absolute;
	top: 580px;
	left: 25px;
	width: 250px;
	height: 50px;
	border: 2px solid #FEFEFE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 6px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
}

.MouseInfo span  {  
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 26px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: normal;    
	color: white;
	-webkit-text-stroke: 1px #c4c4c4;
	padding-left: 28px;
}

.MouseInfo p {
	padding-top: 35px;
	color:black;
	font-family: serif;
	font-size: 12px;
	letter-spacing: 0px;
	font-color:black;
	left: 10px;
	padding-left: 10px;
	line-height: 200%;
	text-align:left;
}

.HardwareInfo {
	display:inline-block;
	background: url("images/carbon.jpg");
	position:absolute;
	top: 935px;
	left: 25px;
	width: 250px;
	height: 50px;
	border: 2px solid #FEFEFE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 6px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
}

.HardwareInfo span  {  
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 26px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: normal;    
	color: white;
	-webkit-text-stroke: 1px #c4c4c4;
	padding-left: 60px;
}

.HardwareInfo p {
	padding-top: 35px;
	color:black;
	font-family: serif;
	font-size: 12px;
	letter-spacing: 0px;
	font-color:black;
	left: 10px;
	padding-left: 10px;
	line-height: 200%;
	text-align:left;
}

.ProfilePortraits {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FEFEFE;
	height: 200px;
	width: 200px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	float: right;
	clear: left;
}

.ProfilePortraits-Elige {
	position:absolute;
	top: 25px;
	left: 25px;
	background: url("images/Elige.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
    z-index: 1005;
}

/* Profile Slides */


/* Social Icons */
@font-face {
    font-family: 'si';
    src: url('icons/socicon.eot');
    src: url('icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('icons/socicon.woff') format('woff'),
         url('icons/socicon.ttf') format('truetype'),
         url('icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
	position: absolute;
    overflow: hidden;
    margin: 0; 
    padding: 10;
    list-style: none;
    padding-top: 20px;
    left: 380px;
}

.soc li {
    display: inline-block;
    *display: inline;
    zoom:1;
}

.soc li a {
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 15px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin: 0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}

.soc-twitter:before {
    content:'\e040';
}

.soc-twitch {
    background-color: #6441a5;
}

.soc-twitch:before {
    content:'\e05a';
}

.soc-steam {
    background-color: #171a21;
}

.soc-steam:before {
    content:'\e037';
}


/* Team Contents */

.Contents {
	position:absolute;
	top: 262.5px;
	left: 600px;
	background-color: #FEFEFE;
}

.Contents-Liquid {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FEFEFE;
	height: 182.5px;
	width: 750px;
	display: inline-block;
	-webkit-box-shadow: -4px 4px 4px 3px #232323;
	-moz-box-shadow: -4px 4px 4px 3px #232323;
	box-shadow: -4px 4px 4px 3px #232323;
}

/* Player Portraits */

.Portraits {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FEFEFE;
	height: 200px;
	width: 200px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.Portraits-Elige {
	position:absolute;
	top:250px;
	left:350px;
	background: url("images/Elige.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
}

.Portraits-Hiko {
	position:absolute;
	top:525px;
	left:350px;
	background: url("images/Hiko.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
}

.Portraits-JDM {
	position:absolute;
	top:800px;
	left:350px;
	background: url("images/jdm.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
}

.Portraits-Nitr0 {
	position:absolute;
	top:1075px;
	left:350px;
	background: url("images/nitr0.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
}

.Portraits-Pimp {
	position:absolute;
	top:1350px;
	left:350px;
	background: url("images/pimp.jpg");
	background-size: 200px 200px;
    background-repeat: fixed;
}

/* Name Tags */

.NamesOpac:hover { 
	opacity: 0.90;
}

.NameTags {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FEFEFE;
	height: 50px;
	width: 200px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	float: right;
	clear: left;
}

.NameTags-Text {
	font-family: serif; 
	font-size: 24px; 
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px; 
	color: #FEFEFE;
	-webkit-text-stroke: 1px #C4C4C4;
}

.NameTags-Elige {
	position:absolute;
	top:460px;
	left:350px;
	background: url("images/globalelite.jpg");
	background-size: 194px 70px;
    background-repeat: fixed;
}

.NameTags-Hiko {
	position:absolute;
	top:735px;
	left:350px;
	background: url("images/globalelite.jpg");
	background-size: 194px 70px;
    background-repeat: fixed;
}

.NameTags-JDM {
	position:absolute;
	top:1010px;
	left:350px;
	background: url("images/globalelite.jpg");
	background-size: 194px 70px;
    background-repeat: fixed;
}

.NameTags-Nitr0 {
	position:absolute;
	top:1285px;
	left:350px;
	background: url("images/globalelite.jpg");
	background-size: 194px 70px;
    background-repeat: fixed;
}

.NameTags-Pimp {
	position:absolute;
	top:1560px;
	left:350px;
	background: url("images/globalelite.jpg");
	background-size: 194px 70px;
    background-repeat: fixed;
}
	

/* Team Headers */


/* Footer */ 

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
	min-height: 100%;
    margin-bottom: 1400px; 
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
    height: 100px; 
}
.site-footer {
	background: black;
}
